[default]
logdir = C:\Everquest\Logs\
# List of numbers to cycle through for random rolls
numbers = 1111, 2222, 3333, 4444, 5555, 6666, 7777, 8888, 9999
min_bid_time = 150
# Ignore bids from outside the configured alliance
restrict_bids = False
# Only export members of the configured alliance for raidticks
restrict_export = True
# Only detect items that are listed as NO DROP
nodrop_only = True
# Hide non-raidtick entries in the Attendance Logs tab
raidtick_filter = False
alliances = Force of Will:Force of Will,Venerate,Black Lotus;Castle:Castle,Ancient Blood,Gathered Might,Freya's Chariot;Kingdom:Kingdom,Karens of Karana;Seal Team:Seal Team
default_alliance = Force of Will
# Don't show rots in the Historic Auctions panel
hide_rots = False
# If an item is linked more than once in drop_cooldown seconds, ignore it
drop_cooldown = 60
always_on_top = False
# When "Clear Data" is performed, make a backup of state.json
backup_on_clear = True
primary_bid_channel = unset
drop_channels = ooc,say
bid_channels = auc,shout,gu
# For all bid messages, you can use the following variables:
#  {item} = Name of item
#  {classes} = Class restrictions on item (if any)
#  {channel} = Primary bidding channel
#  {min} = Minimum DKP for item
#  {time_remaining} = Time remaining for bidding
# Bid reminder message only:
#  {player} = Player with the highest current bid
#  {number} = Current high bid
# For all roll messages, you can use the following variables:
#  {item} = Name of item
#  {classes} = Class restrictions on item (if any)
#  {target} = Roll target
# Roll grats message only:
#  {roll} = Winning roll
bid_message_new = "[{item}]{classes} - BID IN /{channel}, MIN {min} DKP. You MUST include the item name in your bid! Closing in {time_remaining}. "
bid_message_reminder = "[{item}]{classes} - BID IN /{channel}. You MUST include the item name in your bid! Currently: `{player}` with {number} DKP - Closing in {time_remaining}! "
roll_message = "[{item}]{classes} ROLL {target} NOW!"
grats_message_bid = "Gratss {player} on [{item}] ({number} DKP)!"
grats_message_roll = "Gratss {player} on [{item}] with {roll} / {target}!"
# The old excel export function was causing confusion.
# You can manually enable it if you REALLY want to use it.
allow_excel_export = False
confirm_exit = False
# On export, attach loot to the tick with a timestamp before it, rather than after
tick_before_loot = True
# Set the order of classes (and which are visible) in the Raid Overview
overview_class_order = Warrior, Cleric, Bard, Magician, Wizard, Monk, Shaman, Enchanter, Rogue, Necromancer, Shadow Knight, Paladin, Druid, Ranger
# Cache and recall the guild affiliation of anonymous players
remember_player_data = True

[theme]
safe_color = #CCE2CB
warn_color = #F6EAC2
danger_color = #FFAEA5

[alerts]
audio_enabled = True
text_enabled = True
# Soundfiles should be specified by absolute path, or relative to ninjalooter.exe
new_drop = data\sounds\new_drop.wav
auction_expiring = data\sounds\auc_expiring.wav
raidtick_reminder = data\sounds\raidtick_reminder.wav
new_raidtick = data\sounds\new_raidtick.wav
# alt_reminder_dkp =
# second_main_reminder_dkp =

[min_dkp]
# Global default minimum DKP for any item if not otherwise specified
default = 1

# You can provide a URL for a Google Sheet with Item/Minimum columns.
# The first row should be headers, as configured below.
# This sheet_url can be a full https link, or just the spreadsheet ID
sheet_url =
# This column should contain the exact item name. If unsure compare to items.json
sheet_name_column = Item
# This column should contain the min-dkp for the item, or one of: "bank", "random"
sheet_value_column = Minimum
# This column can contain any bidding restrictions, like classes or pre-reqs, though
# keep in mind that the display is only big enough for about 14 letters
sheet_restrictions_column = Restrictions
# This column indicates whether the item is "droppable", and should be some truthy
# value like "Yes", "True", "1" or "No", "False", "0" (case-insensitive)
sheet_droppable_column = Droppable